<!DOCTYPE html>
<html>
<head>
  <title><%= (@title) ? @title : "GRP" %></title>
  <link rel="stylesheet" type="text/css" href="/base.css">
  <% if content_for? :for_head %>
      <%= yield :for_head %>
  <% end %>
</head>
<body>
  <div id="header">
    <a href="http://xkcd.com">Github</a>
    <a href="/pastes/new">Create New</a>
    <a href="/">Home</a>
    <h1>GRP<%= (@title) ? " - #{@title}" : "" %></h1>
  </div>
  <div id="wrapper">
    <%= yield %>
  </div>
</body>
</html>
